.dark-theme {
    --tb-kendo-border-radius-md: 0.125rem;
    --tb-kendo-primary-10: #eff6fc;
    --tb-kendo-primary-20: #deecf9;
    --tb-kendo-primary-30: #deecf9;
    --tb-kendo-primary-40: #deecf9;
    --tb-kendo-primary-50: #8ec2eb;
    --tb-kendo-primary-60: #72b3e6;
    --tb-kendo-primary-70: #55a5e2;
    --tb-kendo-primary-80: #3996dd;
    --tb-kendo-primary-90: #1c87d9;
    --tb-kendo-primary-100: #0078d4;
    --tb-kendo-primary-110: #106ebe;
    --tb-kendo-primary-120: #005a9e;
    --tb-kendo-primary-130: #004578;
    --tb-kendo-primary-140: #0f416c;
    --tb-kendo-primary-150: #153b60;
    --tb-kendo-primary-160: #173655;
    --tb-kendo-primary-170: #18304a;
    --tb-kendo-primary-180: #182a3f;
    --tb-kendo-primary-190: #162435;
    --tb-kendo-primary-200: #131d29;
    --tb-kendo-primary-210: #0e151e;
    --tb-kendo-primary-220: #070B10;
    --tb-kendo-neutral-10:  #faf9f8;
    --tb-kendo-neutral-20:  #f3f2f1;
    --tb-kendo-neutral-30:  #edebe9;
    --tb-kendo-neutral-40:  #e1dfdd;
    --tb-kendo-neutral-50:  #d2d0ce;
    --tb-kendo-neutral-60:  #c8c6c4;
    --tb-kendo-neutral-70:  #bdbbb8;
    --tb-kendo-neutral-80:  #b3b0ad;
    --tb-kendo-neutral-90:  #a19f9d;
    --tb-kendo-neutral-100: #979593;
    --tb-kendo-neutral-110: #8a8886;
    --tb-kendo-neutral-120: #797775;
    --tb-kendo-neutral-130: #605e5c;
    --tb-kendo-neutral-140: #484644;
    --tb-kendo-neutral-150: #3b3a39;
    --tb-kendo-neutral-160: #323130;
    --tb-kendo-neutral-170: #292827;
    --tb-kendo-neutral-180: #252423;
    --tb-kendo-neutral-190: #201f1e;
    --tb-kendo-neutral-200: #1b1a19;
    --tb-kendo-neutral-210: #161514;
    --tb-kendo-neutral-220: #11100f;
    --tb-kendo-tertiary-100: #2b88d8;
    --tb-kendo-error-100: #f58791;
    --tb-kendo-success-100: #5fd255;
    --tb-kendo-warning-100: #ffc80a;
    --tb-kendo-info-100: #0a7eff;
    --tb-kendo-body-bg: #ffffff;
    --tb-figma-blue: #6b76c7;
    --tb-figma-subtle-3: #a8d779;
    --tb-figma-yellow: #fce788;
    --tb-figma-dark-3: #f9b980;
    --tb-figma-orange: #ee896d;
    --tb-figma-red: #c14e4e;
    --tb-figma-dark: #e67aa0;
    --tb-figma-subtle: #e98bad;
    --tb-figma-dark-1: #8345a9;
    --tb-figma-subtle-1: #8345a9;
    --tb-figma-bg: #4c506b;
    --tb-figma-card: #20264b;
    --tb-figma-page: #0b0e22;
    --tb-figma-section: #111536;
    --tb-figma-primary: #bf4a73;
    --tb-figma-bg-1: #161a32;
    --tb-figma-green: #30826e;
    --tb-figma-alternate-cell: #1a1e42;
    --tb-figma-border: #434865;
    --tb-figma-normal-cell: #2d335d;
    --tb-figma-border-1: #666d99;
    --tb-figma-heading: #cd899f;
    --tb-figma-link: #bd8bda;
    --tb-figma-normal: #b2a7b9;
    --tb-figma-page-title: #e6dbe2;
    --tb-figma-subtle-2: #9189a4;
    --tb-figma-title: #d3c8da;
    --tb-figma-footer: linear-gradient(180deg, #41287b 0%, #462779 12.3%, #572775 28.4%, #72266e 54.76%, #982565 80.65%, #c82459 100%);
    --tb-figma-logo: linear-gradient(180deg, #41287b 0%, #462779 12.3%, #572775 28.4%, #72266e 46.5%, #982565 66.3%, #c82459 87%, #e72452 99%);
    --tb-figma-white: #ffffff;
    --tb-figma-top-nav: #1d2244;
    --tb-figma-2nd-row: #0b0e22;
    --tb-figma-border-2: #bf4a73;
    --tb-figma-border-3: #5d617a;
    --tb-figma-background-2: #1b2040;
    --tb-figma-border-4: #b3a1bf;
    --tb-figma-background-3: #2d335d;
    --tb-figma-white-1: #ffffff;
    --tb-figma-black: #1a1e42;
    --tb-figma-white-2: #ffffff;
    --tb-kendo-series-a-100: var(--tb-figma-blue);
    --tb-kendo-series-b-100: var(--tb-figma-subtle-3);
    --tb-kendo-series-c-100: var(--tb-figma-yellow);
    --tb-kendo-series-d-100: var(--tb-figma-dark-3);
    --tb-kendo-series-e-100: var(--tb-figma-orange);
    --tb-kendo-series-f-100: var(--tb-figma-red);
    --tb-kendo-box-shadow-depth-1: 0px 1.6px 3.6px 0 #00000022, 0px 0.3px 0.9px 0 #0000001c;
    --tb-kendo-box-shadow-depth-2: 0px 3.2px 7.2px 0 #00000022, 0px 0.6px 1.8px 0 #0000001c;
    --tb-kendo-box-shadow-depth-3: 0px 6.4px 14.4px 0 #00000022, 0px 1.2px 3.6px 0 #0000001c;
    --tb-kendo-box-shadow-depth-4: 0px 25.6px 57.6px 0 #00000038, 0px 4.8px 14.4px 0 #0000002e;

    --kendo-border-radius-md: var(--tb-kendo-border-radius-md);
    --kendo-primary-10: var(--tb-kendo-primary-10);
    --kendo-primary-20: var(--tb-kendo-primary-20);
    --kendo-primary-30: var(--tb-kendo-primary-30);
    --kendo-primary-40: var(--tb-kendo-primary-40);
    --kendo-primary-50: var(--tb-kendo-primary-50);
    --kendo-primary-60: var(--tb-kendo-primary-60);
    --kendo-primary-70: var(--tb-kendo-primary-70);
    --kendo-primary-80: var(--tb-kendo-primary-80);
    --kendo-primary-90: var(--tb-kendo-primary-90);
    --kendo-primary-100: var(--tb-kendo-primary-100);
    --kendo-primary-110: var(--tb-kendo-primary-110);
    --kendo-primary-120: var(--tb-kendo-primary-120);
    --kendo-primary-130: var(--tb-kendo-primary-130);
    --kendo-primary-140: var(--tb-kendo-primary-140);
    --kendo-primary-150: var(--tb-kendo-primary-150);
    --kendo-primary-160: var(--tb-kendo-primary-160);
    --kendo-primary-170: var(--tb-kendo-primary-170);
    --kendo-primary-180: var(--tb-kendo-primary-180);
    --kendo-primary-190: var(--tb-kendo-primary-190);
    --kendo-primary-200: var(--tb-kendo-primary-200);
    --kendo-primary-210: var(--tb-kendo-primary-210);
    --kendo-primary-220: var(--tb-kendo-primary-220);
    --kendo-neutral-10: var(--tb-kendo-neutral-10);
    --kendo-neutral-20: var(--tb-kendo-neutral-20);
    --kendo-neutral-30: var(--tb-kendo-neutral-30);
    --kendo-neutral-40: var(--tb-kendo-neutral-40);
    --kendo-neutral-50: var(--tb-kendo-neutral-50);
    --kendo-neutral-60: var(--tb-kendo-neutral-60);
    --kendo-neutral-70: var(--tb-kendo-neutral-70);
    --kendo-neutral-80: var(--tb-kendo-neutral-80);
    --kendo-neutral-90: var(--tb-kendo-neutral-90);
    --kendo-neutral-100: var(--tb-kendo-neutral-100);
    --kendo-neutral-110: var(--tb-kendo-neutral-110);
    --kendo-neutral-120: var(--tb-kendo-neutral-120);
    --kendo-neutral-130: var(--tb-kendo-neutral-130);
    --kendo-neutral-140: var(--tb-kendo-neutral-140);
    --kendo-neutral-150: var(--tb-kendo-neutral-150);
    --kendo-neutral-160: var(--tb-kendo-neutral-160);
    --kendo-neutral-170: var(--tb-kendo-neutral-170);
    --kendo-neutral-180: var(--tb-kendo-neutral-180);
    --kendo-neutral-190: var(--tb-kendo-neutral-190);
    --kendo-neutral-200: var(--tb-kendo-neutral-200);
    --kendo-neutral-210: var(--tb-kendo-neutral-210);
    --kendo-neutral-220: var(--tb-kendo-neutral-220);
    --kendo-tertiary-100: var(--tb-kendo-tertiary-100);
    --kendo-error-100: var(--tb-kendo-error-100);
    --kendo-success-100: var(--tb-kendo-success-100);
    --kendo-warning-100: var(--tb-kendo-warning-100);
    --kendo-info-100: var(--tb-kendo-info-100);
    --kendo-body-bg: var(--tb-kendo-body-bg);
    --kendo-series-a-100: var(--tb-kendo-series-a-100);
    --kendo-series-b-100: var(--tb-kendo-series-b-100);
    --kendo-series-c-100: var(--tb-kendo-series-c-100);
    --kendo-series-d-100: var(--tb-kendo-series-d-100);
    --kendo-series-e-100: var(--tb-kendo-series-e-100);
    --kendo-series-f-100: var(--tb-kendo-series-f-100);
    --kendo-box-shadow-depth-1: var(--tb-kendo-box-shadow-depth-1);
    --kendo-box-shadow-depth-2: var(--tb-kendo-box-shadow-depth-2);
    --kendo-box-shadow-depth-3: var(--tb-kendo-box-shadow-depth-3);
    --kendo-box-shadow-depth-4: var(--tb-kendo-box-shadow-depth-4);

    --kendo-font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    --kendo-font-size: 14px;
    --kendo-font-weight: 400;
    --kendo-line-height: 1.4285714286;
}
