name: CI

on:
  push:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Check out branch
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18

      # - name: Setup .NET
      #   uses: actions/setup-dotnet@v3
      #   with:
      #     dotnet-version: "6.x.x"

      # - name: Generate Certificates
      #   run: dotnet dev-certs https --export-path ./cert/cert.crt --no-password --format PEM

      - name: Install
        run: npm ci

      # - name: Lint
      #   run: npm run lint

      # - name: Test
      #   run: npm run test

      # - name: Build
      #   run: npm run build
      #   env:
      #     ENVIRONMENT: production

      - name: Build package
        run: |
          cd ./src/nextjs-framework
          rm -rf ./dist
          tsc
          cp ./package.json ./dist/package.json
          cd ./dist
          npm pack

      - name: Update template repository
        run: |
          cd ../../

          rm -rf starter
          git clone https://github.com/Gebov/nextjs-renderer-starter.git starter
          cp -R -v ./src/app/ ./starter/src/app/
