name: CI

on:
  push:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Check out branch
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18

      # - name: Setup .NET
      #   uses: actions/setup-dotnet@v3
      #   with:
      #     dotnet-version: "6.x.x"

      # - name: Generate Certificates
      #   run: dotnet dev-certs https --export-path ./cert/cert.crt --no-password --format PEM

      - name: Install
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test

      - name: Build
        run: npm run build
        env:
          ENVIRONMENT: production

      - name: Build package
        run: |
          rm -rf ../dist
          tsc
          cd ./src/nextjs-framework
          cp ./package.json ../../../dist/package.json
          cd ../../../dist
          npm pack

      - name: Update template repository
        run: |
          ls

          rm -rf ../starter
          git clone https://github.com/Gebov/nextjs-renderer-starter.git ../starter
          cp -R -v ./src/app/ ../starter/src/app/

          declare -a filestocopy=(".env.development" ".env.production" "server.js" "package.json" "next.config.js" "tsconfig.json")

          for i in "${filestocopy[@]}"
          do
            cp -v ./$i ../starter/$i
          done

          cd ../starter
          npm install ../dist
          npm run build
